<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="$messages.locale.language" lang="$messages.locale.language">
<head>
  <title>$meta.reportTitle - $messages.getString("overview")</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="description" content="TestNG unit test results." />
  <link href="reportng.css" rel="stylesheet" type="text/css" />
  #if ($meta.stylesheetPath)
  <link href="custom.css" rel="stylesheet" type="text/css" />
  #end
  <script src='ichart.latest.min.js'></script>

<style type="text/css" media="all">
 
TABLE {
	FONT-SIZE: 10px;
	BORDER: 0px solid;
}

TABLE.mainAnchor {
	FONT-SIZE: 10px;
	BORDER: 0px solid;
	PADDING-BOTTOM: 0px;
	BORDER-COLLAPSE: collapse;
}

TD.mainAnchor {
	BORDER-BOTTOM: #000000 1px solid;
}
  
TABLE.topcontainer {
	FONT-SIZE: 10px;
	BORDER: #F8F8F8 1px solid;
}
  
</style>
</head>
<body>
<table class="mainAnchor" width="100%">
	<tbody>
		<tr>
			<td><center><h2>自动化测试报告 </h2><br/></center></td>
		</tr>
    </tbody>
</table>
<table width="90%">
	<tbody>
		<tr>
			<td>
				<table class="topcontainer" cellspacing="4" style="width:100%">
					<tbody>
						<tr>
							<td valign="right" style="width:50%">
                      <table class="sum" cellspacing="10" style="width:100%">
                        <tbody>
                          <tr>
                            <td class="summid">运行项目</td>
                            <td class="summid">$projectName</td>
                          </tr>
                          <tr>
                            <td class="summid">运行人</td>
                            <td class="summid">$runner</td>
                          </tr>
                          <tr>
                            <td class="summid">通过率</td>
                            <td class="summid">
                              <b>
                                #if($passedCase == $totalCase)
                                  <span style="color:green">100%</span>
                                #else
                                  <span style="color:red">$passPercent</span>
                                #end
                              </b>
                            </td>
                          </tr>
                          <tr>
                            <td class="summid">总用例数</td>
                            <td class="summid">$totalCase</td>
                          </tr>
                          <tr>
                            <td class="summid">成功用例数</td>
                            <td class="summid">$passedCase</td>
                          </tr>
                          <tr>
                            <td class="summid">失败用例数</td>
                            <td class="summid">$failedCase</td>
                          </tr>
                          <tr>
                            <td class="summid">开始时间</td>
                            <td class="summid">$startTime</td>
                          </tr>
                          <tr>
                            <td class="summid">结束时间</td>
                            <td class="summid">$endTime</td>
                          </tr>
                          <tr>
                            <td class="summid">运行耗时</td>
                            <td class="summid">$duration</td>
                          </tr>
                        </tbody></table>
                    </td>
                    <td id="ichart-render" valign="top" style="width:50%"></td>
                  </tr>
                </tbody>
              </table>

#foreach ($suite in $suites)
<table class="overviewTable">
  #set ($suiteId = $velocityCount)
  #set ($totalDuration = 0)
  #set ($totalTests = 0)
  #set ($totalPassed = 0)
  #set ($totalSkipped = 0)
  #set ($totalFailed = 0)
  <tr>
    <th colspan="6" class="header suite">
      <div class="suiteLinks">
        #if (!$suite.invokedMethods.empty)
        ##<a href="suite${suiteId}_chronology.html">$messages.getString("chronology")</a>
        #end
        #if ($utils.hasGroups($suite))
        <a href="suite${suiteId}_groups.html">$messages.getString("groups")</a>
        #end        
      </div>
      ${suite.name}
    </th>
  </tr>
  <tr class="columnHeadings">
    <td>&nbsp;</td>
    <th>$messages.getString("duration")</th>
    <th>$messages.getString("passed")</th>
    <th>$messages.getString("skipped")</th>
    <th>$messages.getString("failed")</th>
    <th>$messages.getString("passRate")</th>
  </tr>
  #foreach ($result in $suite.results)
  #set ($notPassedTests = $result.testContext.skippedTests.size() + $result.testContext.failedTests.size())
  #set ($total = $result.testContext.passedTests.size() + $notPassedTests)
  #set ($totalTests = $totalTests + $total)
  #set ($totalDuration = $totalDuration + $utils.formatDuration($utils.getDuration($result.testContext)))
  #set ($totalPassed = $totalPassed + $result.testContext.passedTests.size())
  #set ($totalSkipped = $totalSkipped + $result.testContext.skippedTests.size())
  #set ($totalFailed = $totalFailed + $result.testContext.failedTests.size())
  #set ($failuresExist = $result.testContext.failedTests.size()>0 || $result.testContext.failedConfigurations.size()>0)

  #if (($onlyReportFailures && $failuresExist) || (!$onlyReportFailures))
  <tr class="test">
    <td class="test">
      <a href="suite${suiteId}_test${velocityCount}_results.html">${result.testContext.name}</a>
    </td>
    <td class="duration">
      $utils.formatDuration($utils.getDuration($result.testContext))s
    </td>

    #if ($result.testContext.passedTests.size() > 0)
    <td class="passed number">$result.testContext.passedTests.size()</td>
    #else
    <td class="zero number">0</td>
    #end

    #if ($result.testContext.skippedTests.size() > 0)
    <td class="skipped number">$result.testContext.skippedTests.size()</td>
    #else
    <td class="zero number">0</td>
    #end

    #if ($result.testContext.failedTests.size() > 0)
    <td class="failed number">$result.testContext.failedTests.size()</td>
    #else
    <td class="zero number">0</td>
    #end

    <td class="passRate">
      #if ($total > 0)
      #set ($passes = $total - $notPassedTests)
      $utils.formatPercentage($passes, $total)
      #else
      $messages.getString("notApplicable")
      #end
    </td>
  </tr>
  #end
  #end

    <tr class="suite">
    <td colspan="1" class="totalLabel">$messages.getString("total")</td>
    
    <td id="tdn" class="duration">$duration</td>

    #if ($totalPassed > 0)
    <td id="tpn" class="passed number">$totalPassed</td>
    #else
    <td id="tpn" class="zero number">0</td>
    #end

    #if ($totalSkipped > 0)
    <td id="tsn" class="skipped number">$totalSkipped</td>
    #else
    <td id="tsn" class="zero number">0</td>
    #end

    #if ($totalFailed > 0)
    <td id="tfn" class="failed number">$totalFailed</td>
    #else
    <td id="tfn" class="zero number">0</td>
    #end

    <td class="passRate suite">
      #if ($totalTests > 0)
      #set ($totalPasses = $totalTests - $totalSkipped - $totalFailed)
      $utils.formatPercentage($totalPasses, $totalTests)
      #else
      $messages.getString("notApplicable")
      #end
    </td>

  </tr>
</table>
#end
<script type='text/javascript'>
pcount=document.getElementById("tpn").innerHTML;
fcount=document.getElementById("tfn").innerHTML;
scount=document.getElementById("tsn").innerHTML;
$(function(){
     var chart = iChart.create({
           render:"ichart-render",
           width:800,
           height:400,
           background_color:"#fefefe",
           gradient:false,
           color_factor:0.2,
           border:{
                 color:"BCBCBC",
                 width:0
           },
           align:"center",
           offsetx:0,
           offsety:0,
           sub_option:{
                 border:{
                       color:"#BCBCBC",
                       width:1
                 },
                 label:{
                       fontweight:500,
                       fontsize:11,
                       color:"#4572a7",
                       sign:"square",
                       sign_size:12,
                       border:{
                             color:"#BCBCBC",
                             width:1
                       }
                 }
           },
           shadow:true,
           shadow_color:"#666666",
           shadow_blur:2,
           showpercent:false,
           column_width:"70%",
           bar_height:"70%",
           radius:"90%",
           subtitle:{
                 text:"",
                 color:"#111111",
                 fontsize:16,
                 font:"微软雅黑",
                 textAlign:"center",
                 height:20,
                 offsetx:0,
                 offsety:0
           },
           footnote:{
                 text:"",
                 color:"#111111",
                 fontsize:12,
                 font:"微软雅黑",
                 textAlign:"right",
                 height:20,
                 offsetx:0,
                 offsety:0
           },
           legend:{
                 enable:false,
                 background_color:"#fefefe",
                 color:"#333333",
                 fontsize:12,
                 border:{
                       color:"#BCBCBC",
                       width:1
                 },
                 column:1,
                 align:"right",
                 valign:"center",
                 offsetx:0,
                 offsety:0
           },
           coordinate:{
                 width:"80%",
                 height:"84%",
                 background_color:"#ffffff",
                 axis:{
                       color:"#a5acb8",
                       width:[1,"",1,""]
                 },
                 grid_color:"#d9d9d9",
                 label:{
                       fontweight:500,
                       color:"#666666",
                       fontsize:11
                 }
           },
           label:{
                 fontweight:500,
                 color:"#666666",
                 fontsize:11
           },
           type:"pie2d",
           data:[
                 {
                 name:"通过",
                 value:pcount,
                 color:"#44aa44"
           },{
                 name:"失败",
                 value:fcount,
                 color:"#ff4444"
           },{
                 name:"跳过",
                 value:scount,
                 color:"#FFD700"
           }
           ]
     });
     chart.draw();
});
</script>
</body>
</html>
