<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="$messages.locale.language" lang="$messages.locale.language">
<head>
  <title>$meta.reportTitle - $result.testContext.name</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="description" content="TestNG unit test results." />
  <link href="reportng.css" rel="stylesheet" type="text/css" />
  #if ($meta.stylesheetPath)
  <link href="custom.css" rel="stylesheet" type="text/css" />
  #end
  <script type="text/javascript" src="reportng.js"></script>
  <script type="text/javascript" src="jquery-1.7.1.min.js"></script>
  
<script type="text/javascript">
	  	function syntaxHighlight(json) {
		    if (typeof json != 'string') {
		        json = JSON.stringify(json, undefined, 2);
		    }
		    json = json.replace(/\r\n/g,'</br>');
		    json = json.replace(/(^\t*)|(\t*$)/g,"");
		    json = json.replace(/\t/g,"");
		    json = json.replace(/&/g, '&').replace(/</g, '<').replace(/>/g, '>');
		    return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function(match) {
		        var cls = 'number';
		        if (/^"/.test(match)) {
		            if (/:$/.test(match)) {
		                cls = 'key';
		            } else {
		                cls = 'string';
		            }
		        } else if (/true|false/.test(match)) {
		            cls = 'boolean';
		        } else if (/null/.test(match)) {
		            cls = 'null';
		        }
		        return '<span class="' + cls + '">' + match + '</span>';
		    });
		}

	function jsonUtil() {
	var actual = "";
	$(".actual").each(function () {
    actual = jQuery(this).text();
    actual = jQuery.trim(actual);
    try{
		actual = eval('(' + actual + ')');
		console.log(syntaxHighlight(actual));
		$(this).empty();
		$(this).append(syntaxHighlight(actual));
	}catch(exception) {
		$(this).html(actual);
	}
	});
	}
	
</script>

<style type="text/css">
body {
    font:normal 12px verdana,arial,helvetica;
    color:#000000;
}
table tr td, table tr th {
    font-size: 12px;
    background:#a6caf0;
}
table.resultsTable tr {
    font-weight: bold;
    text-align:left;
}

table.details tr th{
    font-weight: bold;
    text-align:left;
    background:#a6caf0;
}
    .string { color: green; }
    .number { color: darkorange; }
    .boolean { color: blue; }
    .null { color: magenta; }
    .key { color: red; }
    
    .method:hover
    {  
        width: 225px;  
        font-size: 12px;  
        border: 0px solid #ddd;  
        overflow: hidden;  
        text-align: left;  
        text-overflow: ellipsis;  
        white-space: nowrap;  
        color:blue;  
        text-decoration:underline;  
        cursor:pointer;   
    }  
    .method{  
        width: 225px;  
        font-size: 12px;  
        border: 0px solid #ddd;  
        color:#5f5f5f;  
        overflow: hidden;  
        text-align: left;  
        text-overflow: ellipsis;  
        white-space: nowrap;  
    }  
  </style>
</head>
<body onload="jsonUtil()">
<h1>$result.testContext.name</h1>
<p>
  $messages.getString("testDuration"): $utils.formatDuration($utils.getDuration($result.testContext))s
</p>

#set ($id = 0)
#if ($failedConfigurations.size() > 0)
  <table class="resultsTable configTable" border="0" cellpadding="5" cellspacing="2" width="98%">
    <tr><th class="header failedConfig">$messages.getString("failedConfiguration")</th></tr>
    #set ($id = 0)
    #foreach ($testClass in $failedConfigurations.keySet())
      <tr class="group">
        <td colspan="6">$testClass.name</td>
      </tr>
       <colgroup>
          <col width="12%" align="center"/>
          <col width="12%" align="left"/>
          <col width="12%" align="left"/>
          <col width="12%" align="left"/>
          <col width="12%" align="left"/>
          <col width="40%" align="left"/>
       </colgroup>
         <tr valign="top">
	          <th style="background:#a6caf0;">用例名称</th>
	          <th style="background:#a6caf0;">用例描述</th>
	          <th style="background:#a6caf0;">方法名</th>
	          <th style="background:#a6caf0;">请求内容</th>
	          <th style="background:#a6caf0;">运行时间</th>
	          <th style="background:#a6caf0;">运行结果</th>
	      </tr>
      #set ($classResults = $failedConfigurations.get($testClass))
      #parse("reportng/templates/html/class-results.html.vm")
    #end

    #if ($skippedConfigurations.size() > 0)
      <tr><td colspan="6">&nbsp;</td></tr>
      <tr><td colspan="6" class="header skippedConfig">$messages.getString("skippedConfiguration")</td></tr>
      #set ($id = 0)
      #foreach ($testClass in $skippedConfigurations.keySet())
        <tr>
          <td colspan="6" class="group">$testClass.name</td>
        </tr>
        #set ($classResults = $skippedConfigurations.get($testClass))
        #parse ("reportng/templates/html/class-results.html.vm")
      #end
    #end
  </table>
#end


#if ($failedTests.size() > 0)
  <table class="resultsTable" border="0" cellpadding="5" cellspacing="2" width="98%">
    <tr><th colspan="6" class="header failed">$messages.getString("failedTests")</th></tr>
    #foreach ($testClass in $failedTests.keySet())
      <tr>
        <td colspan="6" class="group">$testClass.name</td>
      </tr>
        <colgroup>
         <col width="12%" align="center"/>
          <col width="12%" align="left"/>
          <col width="12%" align="left"/>
          <col width="12%" align="left"/>
          <col width="12%" align="left"/>
          <col width="40%" align="left"/>
       </colgroup>
         <tr valign="top">
	          <th style="background:#a6caf0;">用例名称</th>
	          <th style="background:#a6caf0;">用例描述</th>
	          <th style="background:#a6caf0;">方法名</th>
	          <th style="background:#a6caf0;">请求内容</th>
	          <th style="background:#a6caf0;">运行时间</th>
	          <th style="background:#a6caf0;">运行结果</th>
	      </tr>
      #set ($classResults = $failedTests.get($testClass))
      #parse ("reportng/templates/html/class-results.html.vm")
    #end
  </table>
#end

#if ($skippedTests.size() > 0)
  <table class="resultsTable" width="100%" border="0" cellpadding="5" cellspacing="2" width="98%">
    <tr><th colspan="6" class="header skipped">$messages.getString("skippedTests")</th></tr>
    #foreach ($testClass in $skippedTests.keySet())
      <tr>
        <td colspan="6" class="group">$testClass.name</td>
      </tr>
      #set ($classResults = $skippedTests.get($testClass))
      #parse ("reportng/templates/html/class-results.html.vm")
    #end
  </table>
#end

#if ($passedTests.size() > 0)
  <table class="resultsTable" border="0" cellpadding="5" cellspacing="2" width="98%">
    <tr><th colspan="6" class="header passed">$messages.getString("passedTests")</th></tr>
    #foreach ($testClass in $passedTests.keySet())
      <tr>
        <td colspan="6"  class="group">$testClass.name</td>
      </tr>
       <colgroup>
          <col width="12%" align="center"/>
          <col width="12%" align="left"/>
          <col width="12%" align="left"/>
          <col width="12%" align="left"/>
          <col width="12%" align="left"/>
          <col width="40%" align="left"/>
       </colgroup>
         <tr valign="top">
	          <th style="background:#a6caf0;">用例名称</th>
	          <th style="background:#a6caf0;">用例描述</th>
	          <th style="background:#a6caf0;">方法名</th>
	          <th style="background:#a6caf0;">请求内容</th>
	          <th style="background:#a6caf0;">运行时间</th>
	          <th style="background:#a6caf0;">运行结果</th>
	      </tr>
      #set ($classResults = $passedTests.get($testClass))
      #parse ("reportng/templates/html/class-results.html.vm")
    #end
  </table>
#end
  
</body>
</html>
